
$color: white;
$bgcolor: #00c4cc;
.mediumnavigation {
	background:$bgcolor !important;
	box-shadow:0 2px 2px -2px rgba(0,0,0,.15);
	padding:10px;
	transition:top 0.2s ease-in-out;
	color:rgba(0,0,0,.5);	
}
.navbar-light .navbar-brand {
	color: $color !important;
	margin-left: 35px;
}	
.navbar-light .navbar-nav {
	a {
		color: $color !important;
		padding: 1rem;
	}
}

